<%- include("partials/header.ejs") %>

<body class = "d-flex flex-column min-vh-100">
    <div class=" px-4 pt-5 my-5 text-center " >
    <h1 class= "display-4 fw-bold text-body-emphasis"> About Me</h1>
    
    <div class="container px-4 pt-5 my-2 text-center">

    <p> I am Jason, an aspiring cybersecurity analyst that endeavours to learn more about the world of cybersecurity and its potential to help clients protect their assets. I find joy in creating things, thus I created this simple password manager as a project to showcase my interest in cybersecurity. </p>
   
    </div>
    
    </div>
</body>

<div class="footer navbar-fixed-bottom">
<%- include("partials/footer.ejs") %>
</div>
